@import url("https://fonts.googleapis.com/css?family=Exo:100");



html,
body,
#root {
  background: linear-gradient(135deg, #FDFDFB 0%, #E9E3DA 100%);


  background-repeat: no-repeat;
  height: 100%;
}

.hair-services div {
  background-color: #eee;
  border: solid 1px black;
  margin-top: 3%;
  margin-left: 55%;
  box-shadow: 10px 10px;
  width: 40%;

}

.wig-services div {
  background-color: #eee;
  border: solid 1px black;
  width: 40%;
  box-shadow: 10px 10px;
  margin-bottom: 5%;
}


.hero-blur-wrapper .hero {
  position: absolute;

}

.services-container {

  /* keeps text and buttons clear */
  padding-top: 40%;
  height: 70%;
  align-items: center;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  /* blurs background behind the box */



}

.services-container a {
  text-decoration: none;
  color: black;
}

.services-container a:hover {
  text-decoration: underline;
  color: blue;
  transition: 1s;
}

.services-container::-webkit-scrollbar {
  /* Chrome, Safari, Opera */
  display: none;
}

.services-container h1 {
  font-size: 20px;
  margin-left: 5%;
  margin-top: 1%;
  font-family: 'Montserrat', sans-serif;
}

.services-container h2 {
  font-size: 17px;
  margin-left: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}





.hero {

  background-image: url("/jazmin-quaynor-e2sWuXQjOOI-unsplash.jpg");
  background-size: 45%;
  margin-top: 5%;
  margin-left: 15%;
  height: 80vh;
  width: 70vw;
}


#booking-button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-left: 40%;
  margin-top: 20%;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  border: solid 1px rgb(12, 12, 12);
  border-radius: 0%;
  font-weight: 300;
}

/* navbar */


.navbar {
  background-color: transparent;
}


.navbar-brand {
  margin-right: 10%;

}

.nav-link {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-right: 10%;
  margin-left: 20%;
  font-family: "Montserrat", sans-serif;
}



.navbar-brand {
  margin-left: 2%;
  font-family: Corinthia;
  font-size: x-large;

}

#about-div {
  font-family: "IBM Plex Sans", sans-serif;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 75vw;
  height: 80vh;
  background-color: #EDE0D4;
  display: flex;
  flex-wrap: wrap;
}


#about-text {
  margin-left: 5%;
  margin-top: 5%;
  width: 33%;
  height: 60vh;
  color: #4A4A4A;
}

#about-text h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 4%;
  letter-spacing: 3px;
}

#location-text {
  display: inline-block;
  font-size: 20px;
  color: #A68A79;
  margin-left: .7%;
}

#about-text h3 {
  margin-top: 5%;
  font-size: 20px;
  color: #33333394;
}

#cesar-pic-div {
  margin-left: 10%;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

#cesar-pic {
  height: 100%;
  width: 751px;
}

#book-btn {
  font-size: 15px;
  border: solid 1px black;
  font-family: montserrat;
  margin-top: 15%;
  margin-left: 33%;
}

#book-btn:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

#cart {
  margin-top: 10%;
  text-decoration: none;
  border-bottom: none;
}

#menu-header {
  font-size: x-small;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* logo */

.hidden {
  display: none;
}

#dr-flag {
  margin-top: -40px;
  height: 15px;

}

.logo-bottom {
  margin-top: -20px;
}

#logo {
  font-family: "Corinthia";
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  margin-top: 10px;
}

#header-menu-btn {
  margin-right: 10%;
}

/* Hours */
#aboutpage {
  margin-top: 10%;
  margin-left: 5%;
}


#hourcard {
  text-align: center;
  align-items: center;
  background-color: transparent;
  border: solid 1px black;
  margin-left: 40%;
  height: 450px;
  width: 500px;
  box-shadow: 10px 10px;
  border-radius: 0%;
}


.hours ul {

  margin-top: 15%;
  display: inline;
  list-style-type: none;
  font-size: 16px;
  color: black;
  font-weight: 400;
}

.hours ul li {

  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

#days-list li {
  margin-bottom: 40px;
}

#hours-list li {
  margin-bottom: 40px;
}




/* Divider */

#hours-divider {
  color: red;
  margin-top: 150px;
  border: 1.5px solid gray;
  margin-left: 5%;
}

/* Address  */

#address {

  margin-top: 20%;
  margin-bottom: 10%;
  font-size: 50px;
  font-family: 'Libre Caslon Display';
  text-align: center;
  padding-right: 2%;
  color: rgb(0, 0, 0);
}

/* Booking Button */




#arrow {
  margin-top: 3%;
  color: aqua;
}

/* Offcanvas */
.dropdown-menu {
  border: 0cap;
}

.dropdown-menu li {
  font-family: 'Montserrat';
}

#login-div {
  border: 0cap;
  margin-left: -150px;
  margin-top: 700px;
}

/* log in Button */

#login {
  height: 35px;
  margin-left: 90px;
  margin-bottom: 40px;
  border-radius: 5px;
  border: 0px;
}

.btn-info {
  margin-left: 120px;
  margin-bottom: 75px;
}

#dropdownMenuButton {
  border: 0;
  background-color: transparent;
  font-family: 'Montserrat';
  font-weight: 300;
  color: black;
}

#dropdownMenuButton:hover {
  background-color: rgba(124, 123, 123, 0.212);
}

/* Remove background color on focus or active for <a> and <li> */
.dropdown-menu a:focus,
.dropdown-menu a:active,
.dropdown-menu li:focus,
.dropdown-menu li:active {
  background-color: transparent !important;
  outline: none;
  /* Remove the outline if necessary */
}

/* Optional: you can also style the link's active/focus state */
.dropdown-menu a:hover {
  background-color: #f8f9fa;
  /* Light gray background when hovered (example) */
}

#loginButton {
  border: 0;
  background-color: rgba(153, 153, 153, 0.372);
  font-family: 'Montserrat';
  font-weight: 300;
  color: black;
}

#loginButton:hover {

  background-color: rgba(105, 105, 105, 0.553);
}

#login-link {
  text-decoration: none;
  color: black;
  font-weight: 350;
}


/* My-logo */

#copyrite {
  margin-left: 98%;
  margin-bottom: 1%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: honk;
  font-size: 10px;
}

.copyrite-logo {
  height: 8px;
}

/* Footer */

/* Social Media */

.logo {
  margin-right: 30%;
  margin-left: 10%;


}

#footer {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* Login Card */



#signin-header {
  font-family: 'Libre Caslon Display';
  font-size: 35px;
  margin-left: 1%;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.btn-login {
  background-color: transparent;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 1%;
  border: 0;
  font-family: 'Montserrat';
}

.btn-login:hover {
  background-color: rgba(59, 59, 59, 0.706);
}

/* Sign up Page */



.input-block-1 {
  margin-top: 8.5%;
  margin-left: 1%;
  margin-bottom: 3.5%;
  border: 0;
  border-bottom: solid 1.5px #ccc;
  outline: none;

}

#signup-email {
  border: 0;
  width: 100%;
  outline: none;
}

.input-block {
  border: 0;
  outline: none;
  border-bottom: solid 1.5px #ccc;
}

#signup-username {

  outline: none;
  width: 100%;
}

#signup-address {
  width: 100%;
  outline: none;
}

.input-block-3 {
  margin-top: 1.5%;
  margin-left: 1%;
  margin-bottom: 3.5%;
  border: 0;
  outline: none;
}

#signup-first_name {
  border: 0;
  width: 35%;
  outline: none;
  margin-right: 20px;
  border-bottom: solid 1.5px #ccc;
}

#signup-last_name {
  border: 0;
  width: 60%;
  outline: none;
  border-bottom: solid 1.5px #ccc;

}





/* Wrap both fields in a container */
.form-container {
  display: flex;
  gap: 10px;
  /* Space between fields */
}







.input-block {
  margin-bottom: 3.5%;
  border: 0;
  margin-left: 1%;
}

.input-block-1:hover,
.input-block:hover {
  border-bottom: solid 1.5px black;
  /* Only change border on hover */
}

#signup-first_name:hover,
#signup-last_name:hover {
  border-bottom: solid 1.5px black;
}


.input-block input {
  border: 0;
  width: 100%;
  background-color: transparent;

}

#signup-header {
  font-family: 'Libre Caslon Display';
  font-size: 35px;
  margin-left: 1%;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.btn-signup {
  margin-left: 1%;
  border: 0;
  font-family: 'Montserrat';
  background-color: whitesmoke;
}

.btn-signup:hover {
  background-color: rgba(59, 59, 59, 0.706);
}

@media screen and (max-width: 768px) {

  #root {
    overflow-x: hidden;
  }

  #services-hr {
    /* Ensure it doesn't grow beyond 1100px */
    margin-left: auto;
    /* Center it horizontally */
    margin-right: auto;
    /* Center it horizontally */
    margin-bottom: 5%;
  }

  #signup-first_name {
    border: 0;
    border-bottom: solid 1.5px #ccc;
    width: 35%;
    outline: none;
    margin-right: 10px;
  }

  #signup-last_name {
    border: 0;
    border-bottom: solid 1.5px #ccc;
    width: 55%;
    outline: none;
  }

  #signup-header {
    font-size: 35px;
    margin-left: 5%;
    margin-bottom: 10%;
  }

  #home-button {
    margin-left: 50%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ccc;
  }

  .input-block-1,
  .input-block-3,
  .input-block {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 8.5%;
  }



  .btn-signup,
  .btn-login {
    width: 90%;
    margin-left: 5%;
  }

  .btn-signup {
    margin-left: 5%;
    border: 0;
    font-family: 'Montserrat';
    background-color: whitesmoke;
  }

  #signin-header {
    margin-left: 4.5%;

  }

  input:focus {
    outline: none;
    background-color: transparent;
  }

  /* Optionally, customize the focus effect */
  input:focus {
    outline: none;
    background-color: transparent;
    /* Optional: soft glowing effect */
  }

  input:-webkit-autofill {
    background-color: transparent !important;
    /* Removes background color */
    border: 1px solid #ccc;
    /* Optionally, set a neutral border */
    box-shadow: none;
    /* Removes the blue shadow effect */
  }

}




/* Scroll Text Animation */

#signup-page {
  background-color: #ffffff;
}

#under-construction {
  background-color: rgba(255, 247, 0, 0.886);
  font-family: 'Libre Caslon Display', serif;
  font-size: 140px;
  text-align: center;
  margin-top: 20%;
  white-space: nowrap;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
  word-spacing: 50px;
  animation: my-animation 150s linear infinite;
}

#scroll-container1 {
  width: 100%;
  overflow: hidden;
  background-color: #FFF700;
  border-top: 1px solid #D6CCC2;
  border-bottom: 1px solid #D6CCC2;
  padding: 0.8rem 0;
  font-family: "montserrat", sans-serif;
  color: #4A4A4A;
  font-weight: 600;
  letter-spacing: 1px;
}

.scroll-track {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

.scroll-item {
  white-space: nowrap;
  font-family: "Orbitron";
  margin-right: 5%;

  display: flex;
  font-size: x-large;
  font-weight: 300;
  align-items: center;
  gap: 1rem;
}

.review-icon {
  height: 40px;
  width: 50px;
  object-fit: contain;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}













#services-title {
  font-family: 'Libre Caslon Display';
  font-size: xx-large;
  margin-left: 45%;
  margin-bottom: 5%;
}


/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(-100%);
  }
}


@keyframes my-animation {
  from {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* Service Menu - Offcanvas*/


#name-field {
  display: flex;
}


#menu-title {
  margin-left: 40%;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 40px;
  font-family: 'Libre Caslon Display';
}

#services {
  list-style: none;
  margin-right: 30px;
  font-size: 29px;
  font-weight: 150;

}

#services li a {
  margin-bottom: 30px;
  text-decoration: none;
  color: black;
}

#services li {
  margin-bottom: 30px;
  text-decoration: none;
  color: black;
}

#nav-links-header {
  display: inline;
  margin-left: 0%;
}

#services :hover {
  color: grey;
}

.price {
  margin-left: 35px;
}


.dropdown-item a {
  text-decoration: none;
  color: turquoise;
  font-size: medium;
  font-weight: 500;

}

.background-video {
  object-fit: cover;
  /* Ensures video covers the container */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* Ensures video stays in the background */
}


video::-webkit-media-controls {
  display: none;
}

#cart-button-header {
  margin-top: 15%;
  font-family: 'Montserrat';

}

/* service page */

#cuts {
  display: flex;
  flex-wrap: wrap;

}



#menu-header {
  text-decoration: none;
}




#home-button {
  margin-left: 1%;
  margin-top: 5px;
  font-family: 'Montserrat';
  font-weight: 300;
  background-color: transparent;
  border: none;
  text-decoration: none;

}

#home-button a {
  text-decoration: none;
  color: black;
}

#services-list {
  margin-left: 20%;
  font-size: x-large;
  list-style: none;

}


#services-list li {
  margin-bottom: 50px;
}




#cart {
  margin-bottom: 5%;
  margin-right: 20%;
}

#cart label {
  display: inline;
}


#cart input {
  margin-right: 5%;
}

#checkout-button {
  background-color: rgba(7, 218, 137, 0.616);
  border: 0;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 10%;
  width: fit-content;
  /* Button width is a percentage of its container */
  max-width: 300px;
  /* Limit the max width */
  height: 50px;
  display: block;
  /* Makes it a block-level element for centering */
  margin-left: auto;
  /* Centering */
  margin-right: auto;
  /* Centering */
  text-align: center;
  /* Center the text inside the button */
  padding: 0 20px;
  /* Optional: adds some horizontal padding for better appearance */
}

#checkout-button:hover {
  background-color: rgba(196, 218, 206, 0.628);

}




#services-div {
  display: flex;
  justify-content: space-between;

}

#shopping-cart {
  margin-right: 200px;
  font-size: x-large;
  color: #000000;
}

#shopping-cart p {
  color: black;
  font-size: xx-large;
  font-weight: 300;
  margin-bottom: 10%;
}

#shopping-cart li {
  margin-bottom: 7%;
  list-style: none;
  font-weight: 200;

}

#services-hr {
  width: 65%;
  /* Make it take up the full width of the container */
  max-width: 1100px;
  /* Ensure it doesn't grow beyond 1100px */
  margin-left: auto;
  /* Center it horizontally */
  margin-right: auto;
  /* Center it horizontally */
  margin-bottom: 5%;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }

}

#calendar-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

#calendar-title {
  background-color: white;
}

#calendar {
  background-color: white;
  margin-left: 30%;
}

#table-caption {
  text-align: center;
}

#hours-list-container {
  margin-left: 120%;
  margin-top: 15%;
  list-style: none;
  overflow-y: scroll;
  padding-top: 0%;
  height: 150px;
  width: 200px;

}

#navbar-about {}

#hours-list-container a {
  color: black;
  text-decoration: none;
}

#hours-list-container a:hover {
  background-color: gainsboro;
}

#hour-header {
  font-family: 'Libre Caslon Display';
  font-size: large;
  padding-left: 145%;
  margin-top: 25%;
  margin-bottom: 2%;
}

#scheduled-day {
  margin-top: 5%;
  margin-left: 5%;
}


#weekdays {
  font-weight: 200;
}



#calendar button {
  border: black solid 1px;
  margin-right: 4%;
  margin-left: 4%;
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-family: 'Montserrat';
  font-size: 14px;
  width: 90px;
  height: 65px;
  border-radius: 1rem;
  color: rgba(32, 111, 248, 0.941);
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

#calendar td a {
  color: #000000;
  text-decoration: none;
}

#calendar-body {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  margin-top: 2%;
  margin-left: 20%;
}

.addtocalendar-button {
  height: fit-content;
  margin-top: 2%;
  margin-left: 47%;
  border: 0;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: x-large;
  color: #000000;

}

label {
  font-family: 'Montserrat';
  color: #000000;
}

.addtocalendar-button a {
  text-decoration: none;

}

td:hover {
  background-color: gainsboro;
}






@keyframes slope {
  0% {}

  50% {
    transform: rotate(10deg);
  }

  100% {}
}

#calendar-title {
  font-family: 'Libre Caslon Display';
  font-size: xx-large;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}




@media only screen and (max-width: 768px),
only screen and (max-height: 768px) {


  .root {
    overflow-y: hidden;
  }

  .hero {
    background-repeat: no-repeat;
    background-size: cover;

  }




  #booking-button {
    margin-top: 30%;
    margin-right: 20%;
    margin-left: 20%;
    font-size: medium;
  }

  .services-container {
    display: flex;
    flex-wrap: wrap;
    /* This centers child flex items */
    gap: 2rem;
    width: 400px;
  }

  .hair-services {
    flex-direction: column;
    margin-left: 0%;
    padding-left: 0%;
  }

  .hair-services h1,
  .wig-services h1 {
    font-size: large;

  }

  .hair-services div {
    margin-left: 15%;
    margin-bottom: 5%;
  }

  .wig-services {
    display: flex;
    flex-direction: column;
    margin-left: 15%;

    /* Centers content inside each group */
    gap: 1.5rem;
  }


  #aboutpage {
    margin-left: 0%;
    margin-top: 30%;
  }

  #hours {
    margin-right: 0%;
    margin-left: 0%;
  }

  #hours-list li {
    margin-top: 3%;
    margin-bottom: 56%;
  }

  #total-price {
    margin-bottom: 50%;
    list-style: none;
    font-weight: 200;
    font-size: 20px;

  }

  #shopping-cart li {
    margin-bottom: 20%;
    list-style: none;
    font-weight: 200;
    font-size: 14px;

  }

  #services-title {
    font-family: 'Libre Caslon Display';
    font-size: xx-large;
    margin-left: 32%;

  }

  #calendar button {
    font-size: 13px;
    margin-bottom: 10%;
  }



  #logo {
    font-family: "Corinthia";
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin-left: 3%;
    margin-top: 10px;
  }



  #cart-button-header {
    margin-top: 20%;
    margin-left: 0%;
    outline: none;
    border: none;
  }

  #hourcard {
    margin-left: 20%;
  }

  #hourcard ul {
    font-size: 12px;
  }



  #services-list li {
    font-size: 12px;
  }



  #services-div {
    font-size: 12px;
  }


  /* Calendar */

  #calendar-title {
    padding-top: 5%;
    margin-top: 15%;
  }

  #calendar-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10%;
    margin-right: 23%;


  }

  #calendar {
    width: 100%;
    font-size: 14px;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  #calendar td,
  #calendar th {
    padding: 6px;
  }

  .addtocalendar-button {
    font-size: 15px;
  }

  #hour-container {
    margin-right: 100%;
    margin-bottom: 5%;
  }
}